<div class="container-fluid px-3 py-4">
  <h1 class="text-center mb-4 fs-2">Administrar Usuarios</h1>

  <div class=" mx-md-5 px-xl-5">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="card shadow-sm">
          <div class="card-header bg-dark bg-gradient">
            <h3 class="text-white fs-4">Registrar Nuevo Usuario</h3>
          </div>
          <div class="card-body">

            <div *ngIf="errorMessage" class="alert alert-danger">
              {{ errorMessage }}
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
              <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" id="name" formControlName="name" class="form-control" placeholder="Nombre y apellido"  />
                <div *ngIf="registerSubmitted && registerForm.get('name')?.invalid" class="text-danger">
                  <div *ngIf="registerForm.get('name')?.errors?.['required']">El nombre es obligatorio.</div>
                  <div *ngIf="registerForm.get('name')?.errors?.['minlength']">El nombre debe tener al menos 2 caracteres.</div>
                  <div *ngIf="registerForm.get('name')?.errors?.['maxlength']">El nombre no puede tener más de 100 caracteres.</div>
                </div>
                <div *ngIf="serverValidationErrors?.name" class="text-danger">
                  {{ serverValidationErrors.name }}
                </div>
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Correo electronico</label>
                <input type="email" id="email" formControlName="email" class="form-control" placeholder="email@example.com" />
              <div *ngIf="registerSubmitted && registerForm.get('email')?.invalid" class="text-danger">
                <div *ngIf="registerForm.get('email')?.errors?.['required']">El email es obligatorio.</div>
                <div *ngIf="registerForm.get('email')?.errors?.['email']">Por favor ingresa un email válido.</div>
              </div>
              <div *ngIf="serverValidationErrors?.email" class="text-danger">
                {{ serverValidationErrors.email }}
              </div>
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" id="password" formControlName="password" class="form-control" placeholder="*******" />
                <div *ngIf="registerSubmitted && registerForm.get('password')?.invalid" class="text-danger">
                  <div *ngIf="registerForm.get('password')?.errors?.['required']">La contraseña es obligatoria</div>
                  <div *ngIf="registerForm.get('password')?.errors?.['minlength']">La contraseña debe contener al menos 6 caracteres</div>
                </div>
                <div *ngIf="serverValidationErrors?.password" class="text-danger">
                  {{ serverValidationErrors.password }}
                </div>
              </div>

              <div class="mb-3">
                <label for="password_confirmation" class="form-label">Confirmar contraseña</label>
                <input type="password" id="password_confirmation" formControlName="password_confirmation" class="form-control" placeholder="*******"/>
                <div *ngIf="registerSubmitted && registerForm.get('password_confirmation')?.invalid" class="text-danger">
                  <div *ngIf="registerForm.get('password_confirmation')?.errors?.['required']">La confirmación es obligatoria</div>
                  <div *ngIf="registerForm.get('password_confirmation')?.errors?.['minlength']">La contraseña debe contener al menos 6 caracteres</div>
                </div>
                <div *ngIf="registerSubmitted && registerForm.hasError('mismatch')" class="text-danger">
                  Las contraseñas no coinciden
                </div>
                <div *ngIf="serverValidationErrors?.password" class="text-danger">
                  {{ serverValidationErrors.password }}
                </div>
              </div>

              <button class="btn btn-primary" type="submit" [disabled]="isLoading">
                <span *ngIf="!isLoading">Registrar Usuario</span>
                <span *ngIf="isLoading">Cargando...</span>
              </button>
            </form>
          </div>
        </div>

        <h4 class="m-4 fs-4">Lista de usuarios</h4>

        <div *ngIf="serverValidationErrors.user" class="text-danger m-1">
          {{ serverValidationErrors.user }}
        </div>

        <div class="card table-client d-none d-sm-block">
          <table class="table table-striped align-middle">
            <thead>
              <tr class="text-center">
                <th>Nombre</th>
                <th>Correo electrónico</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="isLoading; else usersLoaded">
                <tr *ngFor="let _ of [1,2,3,4]">
                  <td colspan="1">
                    <div class="placeholder-glow text-center p-3">
                      <span class="placeholder col-9"></span>
                    </div>
                  </td>
                  <td colspan="1">
                    <div class="placeholder-glow text-center p-3">
                      <span class="placeholder col-9"></span>
                    </div>
                  </td>
                  <td colspan="1">
                    <div class="placeholder-glow text-center p-3">
                      <span class="placeholder col-9"></span>
                    </div>
                  </td>
                </tr>
              </ng-container>
              <ng-template #usersLoaded>
                <tr *ngFor="let user of users" class="text-center">
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>
                    <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id!)">Eliminar</button>
                  </td>
                </tr>
              </ng-template>
              </tbody>
          </table>
        </div>

          <!-- Vista tipo tarjeta (solo visible en pantallas pequeñas) -->
        <div class="table-client d-block d-sm-none fs-7">
          <div *ngIf="!isLoading && users.length > 0; else loadingOrEmpty">
            <div *ngFor="let user of users" class="card mb-3 shadow-sm border-0">
              <div class="card px-2 py-2">
                <div class="row align-items-center m-1">
                  <div class="col-9 p-0">
                    <h5 class="fw-semibold mb-1 fs-6">{{ user.name }}</h5>
                    <p class="mb-0"><i class="bi bi-envelope-fill me-1"></i>{{ user.email }}</p>
                  </div>
                  <div class="col-3 d-flex justify-content-end p-0">
                    <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id!)">Borrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>

<ng-template #loadingOrEmpty>
  <div *ngIf="users.length === 0 && !isLoading" class="alert alert-info">No se encontraron usuarios.</div>
      <div *ngIf="isLoading" class="row g-4 placeholder-wave">
        <div class="col-12" *ngFor="let n of [1, 2, 3, 4]">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title placeholder-glow">
                <span class="placeholder col-12"></span>
              </h5>
              <p class="card-text placeholder-glow">
                <span class="placeholder col-4"></span>
              </p>
              <p class="card-text placeholder-glow">
                <span class="placeholder col-2"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
</ng-template>